
 .body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.white-color{
    color: white;
}
.orange-bg {
    background-color: #FCEAE8;
    border-radius: 10px;
    height: 180px;
}
 .donate-container{
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-position: 50%;
}
.donate-today{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
    padding-left: 5%;
}
.my-donate{
    width: 50%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, rgba(248, 118, 12, 0.726));
     padding: 10px 20px;
     border-radius: 5px;
     color: white;
     font-weight: 700;
 }
.text-size{
    font-size: 50px;
}
.text-size {
    display: flex;
    justify-content: center;
  }
  .text-size > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }
  #red-color{
    color: red;
  }
  .input-box{
    display: flex;
    justify-content: center;
  }
  .button{
    display: flex;
    justify-content: center;
    width: 60%;
    padding-left: 20%;
  }
  .healthy-container{
    display: flex;
    justify-content: center;
    padding-right: 20px;
  }
  .healthy-container > div {
    background-color: #4c4b4dd5;
    width: 300px;
    height: 230px;
    margin: 10px;
    line-height: 75px;
    font-size: 20px;
  }
  #bg-color {
    background-color: rgba(107, 124, 133, 0.452);
  }
  #bg-color2{
    background-color: rgba(56, 21, 23, 0.767);
}
  .footer-img{
    background-color: black;
    height: 160px;
    }
    #bd-highligh {
    background-color: blue;
    }
    #moon{
        text-align: center;
        color: rgb(161, 22, 22);
    }
    #input-box{
        height: 20px;
        width: 200px;
    }
    .input-button{
        background-color: burlywood;
        background-position: 50%;
        height: 180px;
        width: 50%;
    }
    #sub-button{
        background-color: rgba(221, 44, 183, 0.842);
        border: 20px;
        border-radius: 2px;
    }
  
    